.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .loginSection {
    width: 75%;
    padding: 4rem;
    background-color: #f7fafc;
    border-radius: 0.375rem;
  }
  
  .title {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .heading {
    font-size: 2rem;
    font-weight: bold;
    color: #4b5563;
  }
  
  .subheading {
    font-size: 1.2rem;
    color: #6b7280;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Add this line to center the form group */
    margin-bottom: 1rem;
  }
  
  .input {
    width: 100%;
    max-width: 300px; /* Adjust the maximum width as needed */
    padding: 1rem 1.5rem;
    background-color: #f7fafc;
    border: 1px solid #cbd5e1;
    border-radius: 0.375rem;
    outline: none;
  }
  
  
  .error {
    color: #ff0000;
    margin-top: 0.5rem;
  }
  
  .loginButton {
    width: 100%;
    padding: 0.75rem;
    background-color: #6b7280;
    border: none;
    border-radius: 0.375rem;
    color: #f9fafb;
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  .googleButton {
    width: 100%;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #f7fafc;
    border: 1px solid #cbd5e1;
    border-radius: 0.375rem;
    cursor: pointer;
  }
  
  .signup {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #6b7280;
  }
  
  .signupText {
    color: #6b7280;
  }
  
  .signupLink {
    color: #3b82f6;
    text-decoration: underline;
    cursor: pointer;
  }
  